{% extends 'base.html.twig' %}

{% block title %}Liste des chansons{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/song.css') }}">
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {{form_start(form)}}
        {{ form_row(form.search) }}
        {{ form_row(form.save) }}
        {{ form_end(form) }}

        <h1>Liste des Sons</h1>

        <ul class="song-list">
            {% for song in songs %}
                <li class="song-item">
                    <div class="song-image">
                        <img src="{{ song.getPictureLink() }}" alt="Album Image">
                    </div>
                    <div class="song-details">
                        <h2 class="song-name">{{ song.getName() }}</h2>
                        <div class="song-info">
                            <p class="song-duration">
                                {% set minutes = (song.getDurationMs() // 60000) %}
                                {% set seconds = ((song.getDurationMs() % 60000) // 1000) %}
                                {{ '%02d:%02d'|format(minutes, seconds) }}
                            </p>
                            <p class="song-explicit">{{ song.isExplicit() ? 'Explicite' : 'Non explicite' }}</p>
                            <p class="song-popularity">Popularité: {{ song.getPopularity() }}</p>
                            <p class="song-track-number">Numéro de piste: {{ song.getTrackNumber() }}</p>
                            <p class="song-spotify-url">
                                <a href="{{ song.getSpotifyUrl() }}" target="_blank">Écouter sur Spotify</a>
                            </p>
                        </div>

                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}