{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/artist.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/aside.css') }}">

{% endblock %}

{% block title %}Détails de l'artiste{% endblock %}

{% block body %}
    <div class="show-page artist-details-wrapper">
        <div class="artist-header">
            <h1>{{ artist.getName() }}</h1>
        </div>
        <div class="artist-details-content">
            <div class="artist-image">
                <img src="{{ artist.getImageUrl() }}" alt="Artist Image">
            </div>
            <div class="artist-info">
                <p><strong>ID:</strong> {{ artist.getId() }}</p>
                <p><strong>Popularité:</strong> {{ artist.getPopularity() }}</p>
                <p><strong>Écouter sur Spotify:</strong> <a href="{{ artist.getSpotifyUrl() }}" target="_blank">Lien Spotify</a></p>
            </div>
        </div>
        <div class="back-button">
            <a href="{{ path('app_artist_index') }}" class="btn">Retour à la liste des artistes</a>
        </div>
    </div>
    <div class="recommendations-wrapper">
        <h2>Musiques recommandées</h2>
        <ul class="recommendations-list">
            {% for recommandation in recommandations|slice(0, 5) %}

                <li class="recommendation-item">
                    <a href="{{ path('app_song_show', {id: recommandation.getId()}) }}">
                        <div class="recommendation-image">
                            <img src="{{ imagesUrls[loop.index0] }}" alt="Album Image">
                        </div>
                        <div class="recommendation-info">
                            <h3>{{ recommandation.getName() }}</h3>

                            <p><strong>Popularité:</strong> {{ recommandation.getPopularity() }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    </div>
{% endblock %}